Helpful Resources:
Socket/Thread documentation: https://www.oracle.com/technetwork/java/socket-140484.html?fbclid=IwAR2LL4F5vPJiEMxfqnisUOinYYBdHBJTkJ9V5jreTjvMmgoQUhBDHxWKzlo

DHT Server Pool,  information storage / manipulation
	- Store names of JPEGs, IP addresses of the Clients that have the JPEGs
	- On request send IP address of specific JPEG
	- On request delete all information on specific IP address
		a) Must send signal to delete info throughout DHT ring to all servers
	
P2P Server, Focus on File transfer / HTTP
	- Handle multiple requests at once through Multithreading 
	- Single threads created for each request
		a) Threads create a TCP socket upon TCP request
		b) Only GET requests need to be implemented, request will provide file name
		c) Must implement error codes: 200, 400, 404 and 505 

P2P Client, Connection requests / Hashing
	- Simple GUI for client commands
	- Gets IPs of DHT servers
	- Hash and send content to proper server for storage (send IP and JPEG name for storage)
	- Query to recieve information about specific files (Hashing and request), returns error code if not found
	- Send HTTP GET request to P2P servers using TCP, seperate HTTP request per file
	- Exit protocol requests deletion of users IP from DHT servers  

Feel Free to modify this file if you see more things are needed or as things get completed 